#wt-page {
	background-color: black;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

#wt-title { 
    font-size: 5em;
    left: 3%;
    position: relative;
    text-align: center;
    top: -8%;
}

#wt-home {
	background: url(../images/torah.png) 0 50% no-repeat;
    background-size: 100% 80%;
	height: 100%;
    width: 100%;
}

.wt-parsha.expanded {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}